header{
  max-width: 90%;
  margin: auto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6em;
}
header h1{
  display: inline-block;
  font-size: 6em;
}

.App-header {
  min-height: 20vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
